*
{
	margin:0px;
	padding:0px; 
}
nav,header,section,footer
{
	display: block;
}
body
{
	width: 1348px;
	height: auto;
	background:white; 
}
#bigwrapper
{
	width: 1348px;
	height: auto;
	margin: 0px 0px;
}
#header_
{
	padding: 0px;
	margin:0px;
	text-align: center;
	width: 1348px;
	color: white;
	background:#800000;
}
section
{
	margin:0px;
	padding: 0px;
	color: black;
	border: 5px solid gray;
	outline: 10px solid #4a4a4a;
	height:auto;
	width:1312px;
	margin:14px;
	padding-bottom: 80px;
}
#nav_
{
	border:red;
	background: white;
	padding-bottom: 25px;
	max-width:100%;
	text-align: center;
}
#nav_ li
{
	display:inline-block;
	list-style-type: none;
	padding: 10px;
	font:bold 14px arial;
	border: red 0px solid;
	background:#666666;
	color: white;
	text-transform: uppercase;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	-ms-flex-flex:1;
	border-radius:5px;
}
#nav_ li:hover
{
	background-color: #383838;
}
#nav_10
{
	border:red;
	margin-top: 50px;
	background: white;
	padding-bottom: 25px;
	max-width:100%;
	text-align: center;	
}
#nav_10 li
{
	display:inline-block;
	list-style-type: none;
	font:bold 14px arial;
	border: red 0px solid;
	color: white;
	text-transform: uppercase;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	-ms-flex-flex:1;
	color: black;
	padding: 45px;
	border-radius:75px;
	width: 60px;
	margin-left: 70px;
	text-align: center;
	height: 60px;
}
#nav_10 a
{
	text-decoration: none;
	font:bold 14px arial;
	color: black;
}
#li_1
{
	background-color: #00ff74;
	-webkit-transition:background-color 2s;
	-moz-transition:background-color 2s;
	-o-transition:background-color 2s;
	transition:background-color 2s;
}
#li_2
{
	background-color: #ffff00;
	-webkit-transition:background-color 2s;
	-moz-transition:background-color 2s;
	transition:background-color 2s;
	-o-transition:background-color 2s;
}
#li_3
{
	background-color: #ff0000;
	-webkit-transition:background-color 2s;
	-moz-transition:background-color 2s;
	transition:background-color 2s;
	-o-transition:background-color 2s;
}
#li_4
{
	background-color: #1e90ff;
	-webkit-transition:background-color 2s;
	-moz-transition:background-color 2s;
	transition:background-color 2s;
	-o-transition:background-color 2s;
}
#nav_10 li:hover
{
	background-color: #7f7f7f;
}
table tr
{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	display: -moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	display: -o-box;
	-o-box-orient:horizontal;
	-o-box-pack:center;
	display: -ms-flexbox;
	-ms-flex-orient:horizontal;
	-o-flex-pack:center;
	margin-top: 100px;
}
table tr td
{
	display: -webkit-box;
	-webkit-box-flex:1;
	display: -moz-box;
	-moz-box-flex:1;
	display: -o-box;
	-o-box-flex:1;
	display: -ms-flexbox;
	-ms-flex-flex:1;
	margin-left: 90px;
}
#texthover
{
	width: 300px;
	margin-left: 1px;
	-webkit-transition:width 2s,height 2s;
	-moz-transition:width 2s,height 2s;
	-o-transition:width 2s,height 2s;
	transition:width 2s,height 2s;
}
#overlay
{
	font-size: 0px;
	font-family: Algerian;
	text-align: center;
	text-align: justify;
}
#texthover img
{
	width:300px;
	opacity:1;
	-webkit-transition:width 2s,height 2s,opacity 2s;
	-moz-transition:width 2s,height 2s,opacity 2s;
	-o-transition:width 2s,height 2s,opacity 2s;
	transition:width 2s,height 2s,opacity 2s;
}
#texthover:hover img
{
	width:350px;
	height: 150px;
}
#texthover:hover >#overlay
{
	border: 0px solid red;
	width: 300px;
	position: absolute;
	margin-top: -16%;
	margin-left: 20px;
	font-size:15px;
	text-align: center;
	font-family: tahoma;
	text-align: justify;
	vertical-align: center
}
#texthover:hover img
{
	opacity: 0.5;
}
#footer_
{
	padding:20px;
	background-color: #800000;
	margin-top: 0px;
	padding-left: 200px;
	color: white;
}